* {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
}

#main-container {
    padding: 1em;
    max-width: 1150px;
    margin: 0 auto;
}

#main-container header {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Dosis', sans-serif;
    font-size: 4em;
    text-decoration: none;
    color: #02b3e4;
}

h1, h2, h3 {
    font-family: 'Quicksand', sans-serif;
}

h1 {
    font-size: 4em;
    font-weight: 100;
    color: #2d3c49;
}

h2 {
    display: inline-block;
    color: #7d97ad;
    font-size: 2.5em;
    margin: 0.8em 0 0.4em 0.5em;
}

h3 {
    color: #2d3c49;
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 0.07em;
}

h5 {
    font-size: 1.5em;
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    letter-spacing: 0.02em; 
}

.horizontal-line {
    margin: 1.2em 0;
    background-color: #7d97ad;
    height: 0.2em;
}

.hero-image {
    display: flex;
    position: relative;
    max-width: 100%;
}

img {
    width: 100%;
    height: auto;
    /*max-height: 30em;*/
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.project-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 31%;
    margin-bottom: 2em;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer p {
    margin: 0 auto;
}

@media only screen and (max-width: 840px) {
    .projects {
        flex-wrap: wrap;  
    }

    .project-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 47%;
    }
}

@media only screen and (max-width: 671px) {
    h1 {
        font-size: 3em;
    }

    h5{
        font-size: 1em;
    }

    .logo {
        font-size: 3em;
    }

    .projects {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 95%;
    }

    .project-card .picture {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .project-card .picture img {
        max-width: 70%;
    }
}

@media only screen and (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    header h5 {
        max-width: 75%;
    }

    header .logo {
        max-width: 50%;
    }

    .project-card .picture img {
        max-width: 90%;
    }

    footer p {
        font-size: 0.8em;
    }
}